<section class="archives-wrap">
  <div class="archive-year-wrap">
    <span class="archive-year"><%= title %></span>
  </div>
  <div class="archives">
    <% posts.sort("date", -1).forEach(function(post) { %>
      <article class="archive-article archive-type-post">
        <div class="archive-article-inner">
          <header class="archive-article-header">
            <a href="<%- url_for(post.path) %>" class="archive-article-date"><time datetime="<%= post.date.toISOString() %>"><%= date(post.date, "M月 D") %></time></a>
            <h1><a class="archive-article-title" href="<%- url_for(post.path) %>"><%= post.title %></a></h1>
          </header>
        </div>
      </article>
    <% }) %>
  </div>
</section>
